@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f5f5f5;
	color: #333;
}

section,
.section {
	max-width: 1600px;
	px: 4;
}

.debug {
	outline: 2px dashed green;
}

h1 {
	@apply text-2xl;
}
